{{ ansible_managed | comment }}

[Unit]
Description=Service for collecting per process used memory of a Linux host
Wants=network.target

[Service]
Type=simple
User={{ service_user.name }}
PIDFile={{ service_paths.files.pid.path }}
ExecStart={{ service_binary_destination }}
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
